@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #090b1a;
}

.card {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  margin-top: 150px;
  height: 480px;
}

.image > img {
  height: 480px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  mix-blend-mode: multiply;
  width: 580px;
}

.image {
  height: 480px;
  width: 580px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  background-color: #aa5cdb;
  z-index: 11;
}

span {
  color: #aa5cdb;
}

h1 {
  color: white;
  font-family: "Inter";
  font-weight: 700;
  margin-bottom: 25px;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-family: "Inter";
  font-weight: 400;
  padding-right: 40px;
  line-height: 1.7;
}

.card-text {
  padding: 70px;
  background-color: #1b1938;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stats-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.stats {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.number {
  color: white;
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
}

.text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 376px) {
  body {
    width: 375px;
    height: 950px;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 550px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 200px;
  }
  .image {
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
  }
  .image img {
    height: 250px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  p, h1 {
    text-align: center;
  }
  p {
    padding: 0;
  }
  h1 {
    margin-bottom: 10px;
  }
  .stats-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
  .stats {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .number {
    text-align: center;
  }
  .text {
    text-align: center;
  }
  .card-text {
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
  }
}
