@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$mobile-width:375px;
$desktop-width:1440px;
$main-background:hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent-color:hsl(277, 64%, 61%);
$main-paragraph-color:hsla(0, 0%, 100%, 0.75);
$main-stat-heading-color:hsla(0, 0%, 100%, 0.6);
$body-font:15px;
$main-paragraph-stat-color:white;
.attribution { font-size: 11px; text-align: center; 
               position: relative; top: 130px; color: white; 


    a { color: hsl(228, 45%, 44%); }
}
*{
    margin:0;
    padding:0;
}
body{
    background-color:$main-background;

}
.card{
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    margin-top: 150px;
    height: 480px;
}
.image>img{
    height: 480px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    mix-blend-mode: multiply;
    width: 580px;
}
.image{
    height: 480px;
    width: 580px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    background-color: $accent-color;
    z-index: 11;
}
span{
    color: $accent-color;
}
h1{
    color: white;
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 25px;
}
p{
    color: $main-paragraph-color;
    font-size: $body-font;
    font-family:"Inter";
    font-weight: 400;
    padding-right: 40px;
    line-height: 1.7;
}
.card-text{
    padding: 70px;
    background-color:$card-background;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.stats-row{
    display: flex;
    margin-top:80px ;
}
.stats{
    flex-direction: column;
    margin-right: 70px;
}
.number{
    color: white;
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    margin-bottom:5px;
}
.text{
    color: $main-paragraph-color;
    font-size: 14px;
    font-family:"Inter";
    text-transform: uppercase;
    font-weight: 400;
}


    
